.personal-page-container {

    .header {
        background-color: #F4F4F4;
        padding: 0 200px;
        .creator {
            display: flex;
            padding: 20px 0;
            .creator-right {
                margin-left: 10px;
                .subscribe-count {
                    color: #616161;
                }
            }
        }
        .menu {
            display: flex;

            .menu-tab {
                margin-right: 30px;
            }
        }

    }

    .content {
        padding: 0 200px;
    }

    .pinned-game {
        margin-top: 20px;
        .pinned-game-wrapper {
            width: 30%;

            .cover-block>img {
                width: 100%;
            }
        }
    }

    .works {
        margin-top: 20px;
        .works-header {
            font-size: 18px;
            margin-right: 30px;
        }

        .cover-block-row {
            margin: 10px 0;

            .cover-block-item {
                display: inline-block;
                width: 20%;
                padding: 0 5px;

                .cover-block {
                    display: flex;
                    flex-flow: column;
                }
            }

            .cover-block>img {
                width: 100%;
            }
        }


    }
}