@import '../../../../scss/Spacing.scss';
@import "../../../../scss/Button.scss";

.comment {
    margin: 20px 200px;
}

.comment-action {
    padding-left: 8px;
    cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
    padding-right: 8px;
    padding-left: 0;
}



.editor {
    display: flex;
    margin-top: 15px;

    .avatar {
        width: 32px;
    }

    .textarea-wrapper {
        margin-left: 10px;


        .textarea {
            height: 50px;
        }
    }

    .submit-btn {
        // @include default-btn-setup();
        // background-color: $theme-color-0;
        // color: #fff;
        margin-left: 10px;
    }

    .ant-btn-primary {
        color: #fff;
        background: $theme-color-0 !important;
        height: 50px;
    }
}