@import "../../scss/Spacing.scss";
@import "../../scss/Button.scss";

.rank-time-btn {
    @include default-btn-setup();
    //  background-color: #BDBBC5;
    font-size: 12px;
    padding: 0 5px;
    width: 54px;
}

.rank-content-container {
    display: flex;

    .rank-block-container {
        flex-grow: 1;
        flex-basis: 0;
    }

    .break-line {
        width: 1px;
        background-color: #d8d8d8;
    }

    .rank-uploader-container {
        flex-grow: 1;
        flex-basis: 0;
        align-self: flex-end;
    }
}

.more-btn {
    @include default-btn-setup();
    background-color: #e8e8e8;
    font-size: 12px;
    padding: 0 40px;
}

@media screen and (max-width: "1808px") {
    #rank-btns-left {
        // display: none;
    }

    #more-btn {
        // display: none;
    }

    #rank-content {
        // display: none;
    }
}

.rank-container {
    padding: 0 300px;
    min-width: 1000px;

    img.Home-Rank-img {
        max-width: 100%;
        height: auto;
    }
}

.time-btns {
    display: flex;
    width: 30%;
    margin: 10px auto;

    .time-btn-wrapper {
        flex: 1;
        text-align: center;
    }
}