@import "../../../scss/Common.scss";

.header-section-underline {
    text-decoration: 3px underline;
    text-decoration-color: $theme-color-0;
    text-underline-offset: 4px;
    color: $theme-color-0;
}

.section-link:hover {
    color: $theme-color-0;
}

#header-second-line-section {
    margin-bottom: 3px;
}