.progress-container {
    margin: 0 auto;
    width: 960px;
    height: 600px;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    .arthor-gif {
        width: 200px;
        height: 200px;
    }

    .progress {
        width: 300px;
        background-color: #c4c4c4;
    }
}