
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body, #root, .App, .ant-layout, .ant-form{
    width: 100%;
    height: 100%;
    position: relative;
}
.upload-container
{
    border: 2px solid lightblue;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
}
.upload-form-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sub-upload-container
{
    box-sizing : border-box;
    margin: 0;
    width: 395px;
    border: 2px dotted lightgreen;
}
.sub-upload-container-comment
{
    margin: 0;
    width: 790px;
    border: 2px dotted lightsalmon;
}
.sub-upload-container-comment > Input{
    // background-color: aqua;
    height: 156px;
}

.ant-form-item
{
    // border: 2px solid lightcoral;
}
