/**
 * @author Huiying Hu
 * @create date 2021-08-20 15:06:59
 * @modify date 2021-08-20 15:06:59
 */

  
 @import "../../scss/Spacing.scss";
 @import "../../scss/Button.scss";

 .title {
     font-size: 1.7rem;
     text-align: center;
 }
 
.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 10px !important;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px !important;
    color: $dark-grey;

}

.follow-btn {
    @include default-btn-setup();
    background-color: $theme-color-0;
    color: #ffffff;
    padding: 0 5px;
}

.description {
    border-top: 1px solid #CECECE;
    // height: 120px;
    border-bottom: 1px solid #CECECE;
    margin: 10px 0;
    padding: 10px 0;
}

.comments {
    // font-size: 14px;
    margin: 10px 0;
}

.unity-container {
    width: 800px;
    height: 500px;
}

.subscribers {
    color: $dark-grey;
    flex-grow: 1;
    text-align: left;
}

.creator { 
    // min-width: 70px;
    // max-width: 95px;
}

.buttons {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
}

.game-frame {
    // background-color: #000000;
}

.like-icon {
    margin-right: 5px;
    font-size: 28px;
}