/**
 * @author Huiying Hu
 * @create date 2021-08-20 15:06:59
 * @modify date 2021-08-20 15:06:59
 */

  
 @import "../../scss/Spacing.scss";
 @import "../../scss/Button.scss";

 .title {
     font-size: 1.7rem;
     text-align: center;
 }
 
.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 10px !important;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px !important;
    color: $dark-grey;

}

.follow-btn {
    @include default-btn-setup();
    background-color: $theme-color-0;
    color: #ffffff;
}

.description {
    border-top: 1px solid #CECECE;
    height: 120px;
    border-bottom: 1px solid #CECECE;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px
}

.unity-container {
    width: 800px;
    height: 500px;
}

.subscribers {
    color: $dark-grey;
    min-Width: 100px;
}

.creator {
    
    width: 95px;
}