/**
 * @author Zhicheng Wang
 * @create date 2021-07-23 20:33:31
 * @modify date 2021-07-23 20:33:31
 */

@import "../../scss/Spacing.scss";
@import "../../scss/Button.scss";

.top-content-left-container {
    display: flex;
    // height: 100%;
    .top-small-content {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        .carousel-below-packing {
            display: flex;
            padding: 5px 5px;
            height: 33.33%;
        }

        .has-top-padding {
            // padding: 16px 0 0 0;
        }
    }
}

.display-board {
    display: flex;
    .daily-pick-container {
        width: 80%;
    }
    .join-container {
        width: 20%;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        .join-wrapper {
            position: relative;
            flex-grow: 2;
            flex-basis: 0px;
            overflow: hidden;
            .join-wrapper-content-padding {
                padding: 5px 0;
                height: 100%;
                .join-wrapper-content {
                    height: inherit;
                    overflow: hidden;
                    .join-img {
                        width: 100%;
                    }

                    .join-logo {
                        width: 100%;
                    }

                    .join-btn-group {
                        position: absolute;
                        width: 70%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    .join-btn {
                        border-radius: 2px;
                        width: 100%;
                        background-color: rgba(#606060, 0.93);
                        border: none;
                        color: #e9e9e9;
                        font-size: 16px;
                        margin-bottom: 10px;
                        height: 36px;
                    }
                }
            }
        }

        // TODO: modify the image so that the heigth of its parent container does not change
        .ad {
            flex: 1 1 0;
            overflow: hidden;
            .ad-padding-container {
                padding: 5px 0;
                .ad-img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.section-heading {
    font-size: 0.8rem !important;
}

.daily-pick-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

.small-content {
    padding-left: 10px;
}

.caurousel-wrapper {
    padding: 5px 5px;
}

.category-wrapper {
    display: flex;
    //  border-top: 1px solid rgba(0, 0, 0, 0.1);
    // background-color: rgba(33, 33, 33, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 5px;
    .category-btn-wrapper {
        .category-btn {
            @include default-btn-setup();
            height: 32px;
            border-radius: 16px;
            padding: 4px 10px;
            margin: 5px;
        }
    }
}
