/**
 * @author Zhicheng Wang
 * @create date 2021-07-23 20:33:31
 * @modify date 2021-07-23 20:33:31
 */
 
@import "../../scss/Spacing.scss";
@import '../../scss/Button.scss';

.rank-time-btn {
    @include default-btn-setup();
}

@media screen and (max-width: '1808px') {
    #rank-btns-left {
        display: none;
    }
    #more-btn {
        display: none;
    }
    #rank-content {
        display: none;
    }
}