/**
 * @author Zhicheng Wang
 * @create date 2021-07-23 20:33:31
 * @modify date 2021-07-23 20:33:31
 */
 
 @import "../../scss/Spacing.scss";
 @import '../../scss/Button.scss';
 
.display-board {
    display: flex;
}

 .section-heading {
     font-size: 0.8rem !important;
 }
 


.daily-pick-container {
    width: 80%;
}

.daily-pick-wrapper {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 75%;
}

.small-content {
    padding-left: 10px;
}

 .caurousel-wrapper {
    // padding: 0 5px;
 }

 .carousel-below-content {
     flex: 1;
     padding: 0 5px;
 }

 .carousel-below-packing {
     display: flex;
 }

 .has-top-padding {
    padding: 16px 0 0 0;
 }

 .category-wrapper {
     display: flex;   
    //  border-top: 1px solid rgba(0, 0, 0, 0.1); 
    // background-color: rgba(33, 33, 33, 0.7);
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
     margin-bottom: 10px;
     padding: 5px;
     .category-btn-wrapper {
        
        .category-btn {
            @include default-btn-setup();
            height: 32px;
            border-radius: 16px;
            padding: 4px 10px;
            margin: 5px;
        }
    }
 }

.join-container {
    width: 20%;
    margin-left: 10px;
}

.join-wrapper {
    position: relative;
    margin-bottom: 10px;
    .join-img{
        width: 100%;
    }

    .join-logo {
        width: 100%;
    }

    .join-btn-group {
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .join-btn {
        border-radius: 2px;
        width: 100%;
        background-color: rgba(#606060, 0.93);
        border: none;
        color: #e9e9e9;
        font-size: 16px;
        margin-bottom: 10px;
        height: 36px;
    }
}

.ad {
    width: 100%;
}