@import "../../scss/Spacing.scss";
@import '../../scss/Button.scss';

img.Home-Content-img {
    max-width: 100%;
    height: auto;
}

img.Home-Show-img {
    max-width: 100%;
    height: auto;
}

img.Home-Rank-img {
    max-width: 100%;
    height: auto;
}
