/**
 * @author Zhicheng Wang
 * @create date 2021-07-23 20:33:40
 * @modify date 2021-07-23 20:33:40
 */
 
@import "../../scss/Spacing.scss";
@import '../../scss/Button.scss';

img.Home-Content-img {
    max-width: 100%;
    height: auto;
}

img.Home-Show-img {
    width: 100%;
    height: auto;
}

img.Home-Rank-img {
    max-width: 100%;
    height: auto;
}
