/**
 * @author Zhicheng Wang
 * @create date 2021-07-23 20:33:50
 * @modify date 2021-07-23 20:33:50
 */
.section-recommendation-latest {}

.recommendation-latest-title {
    margin-bottom: 10px;
}

.cover-block-grid {
    .cover-block-row {
        margin-bottom: 10px;

        .cover-block-item {
            display: inline-block;
            width: 20%;
        }

        .cover-block>img {
            width: 100%;
        }
    }

    .cover-block-row>.cover-block-item {
        padding: 0 5px;
    }
}

div.bottom-row-4 {
    display: none;
}

div.bottom-row-2 {
    display: none;
}

@media screen and (max-width: "1200px") {
    div.bottom-row-5 {
        display: none;
    }

    div.bottom-row-4 {
        display: flex;
    }
}

@media screen and (max-width: "992px") {
    div.bottom-row-4 {
        display: none;
    }

    div.bottom-row-2 {
        display: flex;
    }
}

.page-wrapper {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}