.cm .ant-radio-button-wrapper {
  width: 100%;
  color: #000 !important;
  background-color: #fff !important;
  box-shadow: 0 0 0 3px transparent !important;
}

.cm .ant-radio-checked .ant-radio-inner {
  border-top: #fff !important;
  border-bottom: #5B28FF !important;
}
  
// .cm .ant-radio-checked .ant-radio-inner:after {
//   background-color: #5B28FF;
// }
  
// .cm .ant-radio:hover .ant-radio-inner {
//   border-color: #5B28FF;
// }

.cm .ant-radio-button-wrapper:hover {
  color: #5B28FF !important;
}

.cm .ant-radio-button-wrapper-checked .ant-radio-button-wrapper-checked:hover {
  color: #000 !important;
}

.cm1 .cover-block-grid {
  .cover-block-row {
    margin-bottom: 10px;
    .cover-block-item {
      width: 100%;
      margin-bottom: 10px;
    }
    .cover-block {
      display: flex;
    }
    .cover-block > img {
      width: 30%;
      border-radius: 2px;
    }
    .word-group {
      width: 40%;
      padding-left: 10px;
    }
    .button-group {
      float: right;
    }
    .btn1{
      border: none;
      margin-right: 10px;
      border-radius: 2px;
      padding: 1px 4px;
      justify-content: center;
    }
    .btn2 {
      background-color: #FA8072;
      border: none;
      border-radius: 2px;
      padding: 1px 4px;
      justify-content: center;
    }
  }
  .cover-block-row > .cover-block-item {
    padding: 0 5px;
  }
}

.page-wrapper {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}