.uf .ant-radio-checked .ant-radio-inner {
  border-color: #5B28FF !important;
}
  
.uf .ant-radio-checked .ant-radio-inner:after {
  background-color: #5B28FF;
}
  
.uf .ant-radio:hover .ant-radio-inner {
  border-color: #5B28FF;
}

.uf .ant-upload:hover {
  border-color: #5B28FF !important;
}

.uf .ant-radio-button-wrapper:hover {
  color: #5B28FF !important;
}

.uf .ant-radio-button-wrapper-checked:hover {
  color: #fff !important;
}

.uf .anticon svg {
  vertical-align: baseline;
}

.uf .ant-divider-vertical {
  height: 7.9em !important;
}

