.ant-radio-checked .ant-radio-inner {
  border-color: #5B28FF !important;
}
  
.ant-radio-checked .ant-radio-inner:after {
  background-color: #5B28FF;
}
  
.ant-radio:hover .ant-radio-inner {
  border-color: #5B28FF;
}

.ant-upload:hover {
  border-color: #5B28FF !important;
}

.ant-radio-button-wrapper:hover {
  color: #5B28FF !important;
}

.ant-radio-button-wrapper-checked:hover {
  color: #fff !important;
}

