@import "../scss/common_variables.scss";

#header-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $default-border-color;
}

#rank-btn {
    margin-right: 20px;
}

#header-first-line {
    @include vertical-margin-same(10px);
}

#header-search-bar-form {
    display: inline;
}

#header-search-bar-form input {
    position: relative;
    left: 1px;
    top: 3px;
    border: 1px solid $default-border-color;
    border-top-left-radius: $searchbar-border-radius;
    border-bottom-left-radius: $searchbar-border-radius;
    width: 400px;
    padding-left: 10px;
    @include width-height(400px, 33px);
}

#header-search-bar-form input:focus {
    border-color: $theme-color-0;
    outline:0;
}

#header-search-bar-form button {
    display: inline;
    @include horizontal-padding-same(0px);
    @include vertical-padding-same(0px);
    border: 1px solid $default-border-color;
    border-top-right-radius: $searchbar-border-radius;
    border-bottom-right-radius: $searchbar-border-radius;
    @include width-height(33px, 33px);
    margin-right: 60px;
}

#header-signup-btn {
    @include vertical-padding-same(3px);
    @include horizontal-padding-same(15px);
    margin-right: 20px;
}

#header-login-btn {
    @include vertical-padding-same(3px);
    @include horizontal-padding-same(15px);
    margin-right: 10px;
}
@media (max-width: 1200px) {
    #header-search-bar-form input {
        // display: none;
        width: 200px;
    }
}

@media (max-width: 724px) {
    #header-search-bar-form {
        display: none;
        // width: 200px;
    }
}