#header-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d8d8d8;
}

#header-first-line {
    margin-top: 10px;
}

#header-search-bar-form {
    display: inline;
}

#header-search-submit-button {
    padding-left: 0px;
    padding-right: 0px;
}