.header-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D8D8D8;
}

.header-first-line {
    margin-top: 10px;
}

.search-bar {

}

.header-user-buttons {

}