.search-container {
    padding: 0 50px;
    .search-filter-container {
        padding: 0 5px;
        .search-filter-rank-method {
            display: flex;
            margin-top: 10px;
            .rank-method {
                padding: 5px 10px;
                cursor: pointer;
            }
            .rank-method:not(:last-child) {
                margin-right: 15px;
            }
            .checked-rank-method {
                color: #3fa3e6;
                background-color: #DFF6FD;
                border-radius: 5px;
            }
            .unchecked-rank-method {
            }
        }
        .search-filter-game-category {
            display: flex;
            margin-top: 10px;
            .game-category {
                padding: 5px 10px;
                cursor: pointer;
            }
            .game-category:not(:last-child) {
                margin-right: 15px;
            }
            .checked-game-category {
                color: #3fa3e6;
                background-color: #DFF6FD;
                border-radius: 5px;
            }
            .unchecked-game-category {
            }
        }
        .search-filter-bottom-line {
            margin-top: 10px;
            height: 1px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15)
        }
    }
    .search-cover-container {
        margin-top: 10px;
    }
    .search-pagination-container {
        display: flex;
        .search-pagination {
            margin: 0 auto;
        }
    }
}
