@import "../../scss/common-variables.scss";

#rank-btn {
    margin-right: 20px;
}

#header-first-line {
    @include vertical-margin-same(12px);
}

#header-search-bar-form {
    display: inline;
}

#header-search-bar-form input {
    position: relative;
    left: 1px;
    top: 3px;
    border: 1px solid $default-border-color;
    border-top-left-radius: $searchbar-border-radius;
    border-bottom-left-radius: $searchbar-border-radius;
    width: 400px;
    padding-left: 10px;
    @include width-height(400px, 33px);
}

#rank-btn-hide {
    display: none;
}

#header-search-bar-form input:focus {
    border-color: $theme-color-0;
    outline:0;
}

#header-search-bar-form button {
    display: inline;
    @include horizontal-padding-same(0px);
    @include vertical-padding-same(0px);
    border: 1px solid $default-border-color;
    border-top-right-radius: $searchbar-border-radius;
    border-bottom-right-radius: $searchbar-border-radius;
    @include width-height(33px, 33px);
    margin-right: 100px;
}

#header-signup-btn {
    @include vertical-padding-same(3px);
    @include horizontal-padding-same(15px);
    margin-right: 20px;
}

#header-login-btn {
    @include vertical-padding-same(3px);
    @include horizontal-padding-same(15px);
    margin-right: 10px;
}
@media (max-width: 1210px) {
    #header-search-bar-form input {
        width: 250px;
    }
}

@media (max-width: 991px) {
    #header-search-bar-form {
        display: none;
    }

    #rank-btn {
        display: none;
    }

    #rank-btn-hide {
        display: inline-block;
    }
}