@import "../../scss/Spacing.scss";
@import "../../scss/Button.scss";

// *{
//     padding: 0;
//     margin: 0;
// }

.header-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $default-border-color;
    min-width: 1000px;
    display: flex;
    align-items: center;
    height: 50px;
    align-items: center;
    display: flex;
    .search-bar-container {
        display: flex;
        justify-content: center;
        .search-outer-div {
            margin-left: 10px;
            // TODO: search button style problem
            .ant-input-search-button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .user-buttons-container {
        display: flex;
        justify-content: flex-end;
    }
}

.header-border > div {
    flex-basis: 0;
    flex-grow: 1;
}


.personal-icon{
    transition: transform .2s;
    cursor: pointer;
}

.personal-icon:hover{
    // transform: scale(2.5);
    transform: matrix(2.5,0,0,2.5,0,12);
    
}

.main-menu-popup{
    // position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    // align-items: center;
}

.main-menu-popup-item{
    // width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 30px;
    // line-height: 80px;
    border-bottom: 2px solid rgba(195,195,195,.5);
}

.personal-social-info-groups{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}