/**
 * @author Zhicheng Wang
 * @create date 2021-07-23 20:33:16
 * @modify date 2021-07-23 20:33:16
 */
 
@import "../../scss/Spacing.scss";

#header-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $default-border-color;
}