@import "./scss/Spacing.scss";
@import './scss/Button.scss';

a.my-link {
    color: black;
    text-decoration: none;
}

a.my-link:hover {
    color: black;
}

button.theme-color-0-btn {
    color: $theme-color-0-btn-text-color;
    background-color: $theme-color-0;
    @include default-btn-setup();

}

button.theme-color-0-btn:hover {
    background-color: $theme-color-0-hover;
}

button.theme-color-0-btn:active {
    background-color: $theme-color-0-active;
}

input::placeholder {
    color: #a8a8a8;
}